@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 343 64% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 40 100% 50%;
    --destructive-foreground: 0 0% 7%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 343 64% 38%;
    --radius: 1rem;

    --tech-accent: 200 100% 50%;
    --success: 149 100% 45%;

    --chart-1: 343 64% 38%;
    --chart-2: 200 100% 50%;
    --chart-3: 149 100% 45%;
    --chart-4: 40 100% 50%;
    --chart-5: 343 64% 58%;

    /* Sidebar */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 343 64% 38%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 343 64% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
